<h2><%= @painting.name %></h2>
  <h3>By <%= @painting.artist %></h3>
    <p> <%= @painting.date %></p>
    <p> <%= @painting.style %></p>
    <p> <%= @painting.description %></p>
  <br>
  <br>
  <a href='/paintings/<%= @painting.id %>/edit'><button>Edit Painting</button></a>
<br>
<br>
<a href="/paintings"><button>Return to Collection</button></a>
<a href="/"><button>Return to Home</button></a>
<a href="/logout"><button>Sign Out</button></a>
